<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Friendly FOIA</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <h1>Need to submit a FOIA Request?</h1>
    <h4>Friendly FOIA is here to help!</h4>
    <div style="text-align: center">
        <div class="card card-1" style="width: 70%">
            <form action="report.php" method="POST" style="text-align: left">
                Select Federal Agency: <input type="text" name="agency"><br>
                Request category: <input type="text" name="situation"><br>
                Request description: <input type="text" name="situation"><br>
                Attachments: <input type="text" name="desc"><br>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="fname" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">First Name</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="lname" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Last Name</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="addr1" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Address, Line 1</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="addr2" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Address, Line 2</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="city" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">City</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="state" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">State/Province</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                State/Province: <input type="text" name="state"><br>
                Country: <input type="text" name="country"><br>
                ZIP/Postal Code: <input type="text" name="zip"><br>
                Company/Organization: <input type="text" name="company"><br>
                Phone number: <input type="text" name="phone"><br>
                Email: <input type="text" name="email"><br>
                Fax Number: <input type="text" name="fax"><br>
                Amount you are willing to pay: <input type="text" name="amount"><br>
                Expedited Processing: <input type="text" name="expedited"><br>
                Expedited Processing Explanation: <input type="text" name="expreditedexp"><br>
                Fee waiver: <input type="text" name="waivertype"><br>
                Fee waiver explanation: <input type="text" name="waiverexp"><br>
                <input type="submit" value="Submit FOIA">
            </form>
        </div>
    </div>

</body>

</html>