<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Friendly FOIA</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <h1>Need to submit a FOIA Request?</h1>
    <h2>Friendly FOIA is here to help!</h2>
    <div style="text-align: center">
        <div class="card card-1" style="width: 70%">
            <form action="report.php" method="POST">
                <!-- Select Federal Agency: <input type="text" name="agency"><br> -->
                <!-- Request category: <input type="text" name="situation"><br> -->
                <!-- Request description: <input type="text" name="situation"><br> -->
                <!-- Attachments: <input type="text" name="desc"><br> -->
                <br>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="fname" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">First Name</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="lname" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Last Name</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="addr1" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Address, Line 1</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="addr2" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Address, Line 2</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="city" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">City</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="state" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">State/Province</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="country" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Country</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="zip" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">ZIP</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="company" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Company/Organization</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="phone" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Phone Number</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="email" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Email</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field__control">
                        <input name="fax" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Fax</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field__control">
                        <input name="amount" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Amount you are willing to pay:</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field__control">
                        <input name="expedited" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Expedited Processing</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field__control">
                        <input name="expeditedexp" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Expedited Processing Explanation</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field__control">
                        <input name="expedited" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Fee Waiver Type</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-field__control">
                        <input name="expeditedexp" type="text" class="form-field__input" value="" placeholder=" " />
                        <label for="exampleField" class="form-field__label">Fee Waiver Explanation</label>
                        <div class="form-field__bar"></div>
                    </div>
                </div>

                <input type="submit" value="Submit FOIA">
            </form>
        </div>
    </div>

</body>

</html>