<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Friendly FOIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <h1>Need to submit a FOIA Request?</h1>
    <h2>Friendly FOIA is here to help!</h2>
    <div style="text-align: center">
        <form action="{{ url_for('findagency') }}" method="POST">
            <select name="agency">
                <option value="NASA"><a>National Aeronautics & Space Administration</a></option>
                <option value="HUD"><a>Department of Housing & Urban Development</a></option>
                <option value="DOE"><a>Department of Energy</a></option>
                <option value="HHS"><a>Department of Health & Human Services</a></option>
            </select>
            <input type="submit" value="SUBMIT AGENCY">
        </form>
    </div>
</body>

</html>